/notes
/client/node_modules
/client/build
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/node_modules
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


